NODE_ENV="production"
PORT=3000

BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
ADMIN_IDS="123456789"

DB_HOST="localhost"
DB_USER="root"
DB_PASS="password"
DB_NAME="telegram_bot"
DB_PORT="3306"

SMM_API_ID="11"
SMM_API_KEY="YOUR_SMM_API_KEY"

MARKUP_PERCENT=20
